body {
    background-color:#fff;
}
#conteiner{
    height:90vh;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}

#conteiner .cxTexto{
    margin-top: 20px;
    border:1px solid #ddd;
    border-radius:4px;
    padding: 0 20px;
    font-size: 16px;
    color: #EFEDF2; 
    height:48px;
    width: 260px;
    
}

#conteiner button{
    margin-top: 10px;
    border:1px solid #ddd;
    border-radius: 4px;
    height:48px;
    font-size: 16px;
    background-color: #252434;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 300px;
}

footer{
    justify-content:center;
    align-items: center;
    display: flex;
    margin-top: 40px;
    color: #636366
}

/*----------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #252434;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
 
  /* APARIÇÃO DO FORM */
  form {
    overflow: hidden;
    animation: fade 0.2s;
  }
  
  form .input-block:nth-child(1) {
    animation: move 500ms;
  }
  
  form .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  
  form .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Quando clicar no botão, sumir com o form */
  .form-hide {
    animation: down 1.2s forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }
  
  /* FORM NO-NO */
  
  form.validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;
  }
  
  @keyframes nono {
    0%,
    100% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-15%);
    }
    70% {
      transform: translateX(15%);
    }
  }
  
  /* squares */
  body{
    overflow: hidden;
  }
  .squares li {
    width: 40px;
    height: 40px;
    /*background-color: rgba(255, 255, 255, 0.11);*/
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
  }
  
  @keyframes up {
    from{
      opacity: 0;
      transform: translateY(0);
  
    }
    50%{
      opacity: 1;
    }
    to{
      opacity: 0;
      transform: translateY(-900px) rotate(960deg);
    }
  }
  